/* ChatApp.css */

.chat-container {
  max-width: 80%; /* Sesuaikan dengan preferensi Anda */
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.messages-container {
  max-height: 300px; /* Sesuaikan dengan kebutuhan */
  overflow-y: auto;
}

.message {
  margin-bottom: 10px;
}

.chat-image {
  max-width: 100px; /* Sesuaikan dengan kebutuhan */
  max-height: 100px; /* Sesuaikan dengan kebutuhan */
}

.image-upload-container {
  margin-top: 10px;
}

/* Untuk membuat form dan input responsif */
form {
  display: flex;
  flex-wrap: wrap;
}

/* ChatApp.css */

/* Atur lebar input agar lebih besar */
input[type="text"] {
  width: calc(100% - 120px); /* Lebar total dikurangi dengan lebar tombol */
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 20px;;
}

button {
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .chat-container {
    max-width: 90%; /* Sesuaikan dengan preferensi Anda */
  }
  input[type="text"],
  button {
    width: 100%;
    margin-right: 0;
  }
}

