/* App.css */

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.App-header {
  flex: 1;
  width: 100vw; /* Menjadikan lebar penuh sesuai viewport */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #f0f0f0;
  overflow-y: auto;
}

.App-logo {
  width: 80px;
  height: auto;
  margin-bottom: 20px;
}

.App-messages {
  width: 80%;
}

.App-message {
  background-color: #d3d3d3;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
}

.App-control {
  padding: 10px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column; /* Tampilkan input dan tombol secara vertikal */
  max-width: 400px; /* Maksimum lebar kontrol */
  margin: 0 auto; /* Pusatkan kontrol di tengah */
  width: 70%;
}

.App-control input[type="text"],
.App-control textarea {
  padding: 10px;
  margin-bottom: 10px; /* Tambahkan jarak antara input dan tombol */
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 5px auto;
  width:80%; /* Lebar input dan textarea mengisi lebar kontrol */
}

.App-control .App-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  margin: 5px auto;
  cursor: pointer;
  width: 70%; /* Tombol mengisi lebar kontrol */
}

/* Responsif */
@media (max-width: 600px) {
  .App-header {
    padding: 10px;
  }

  .App-logo {
    width: 60px;
    margin-bottom: 10px;
  }
}
